@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.page {
  display: none;
}

.active {
  display: block;
}

body {

  border-color: black, 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  flex-direction: column;
  background: linear-gradient(to bottom, green, yellow);
  font-family: 'Great Vibes', cursive;
} 

h1 {

  margin: 8px;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  font-weight: bolder;
  color: rgb(225, 255, 0);

}


h2 {
  color: white;
  margin-top: 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h3 {

  margin-top: 20px;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(225, 255, 0);
  
}

label {
  color: rgba(17, 48, 4, 0.982);
  margin-top: 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-weight: bolder;
}

#home {
  width: 80vw;
  height: auto;
  background: linear-gradient(to bottom, rgba(223, 220, 25, 0.829), rgb(147, 197, 38));
  border-radius: 10px;
  border-style: double;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
#users {
  width: 80vw;
  height: auto;
  background: linear-gradient(to bottom, rgb(176, 230, 14), rgb(247, 151, 8));
  border-radius: 10px;
  border-style: double;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;

}
#addUser {
  width: 80vw;
  height: auto;
  background: linear-gradient(to bottom, rgba(204, 202, 58, 0.829), rgb(190, 92, 7));
  border-radius: 10px;
  border-style: double;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
#userForm {
  width: 90%;
  height: auto;
  max-width: 400px; 
  margin: 0 auto; 
}

#userForm label {
  font-size: 40px; 
  color: rgba(17, 48, 4, 0.982);
}

#userForm input[type="text"] {
  width: 70%; 
  padding: 5px;
  margin-top: 5px;
  font-size: 30px; 
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  border-radius: 5px; 
}
.genre {
  display: flex;
  align-items: center;
  justify-content: center;

}
.genre input[type="radio"] {
  display: none;
}

.genre label {
  cursor: pointer;
  padding: 5px;
}

.genre label:hover {
  padding: 10px;
  background-color: #f9dd04;
  border-radius: 20px;
}
.genre input[type="radio"]:checked + label {
  background-color: #f9dd04;
  border-radius: 20px;
  padding: 10px;
}

#addExpense{
  width: 80vw;
  height: auto;
  background: linear-gradient(to bottom, rgba(85, 229, 13, 0.396), rgba(7, 190, 47, 0.39));
  border-radius: 10px;
  border-style: double;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;

}

#balances {
  width: 80vw;
  height: auto;
  background: linear-gradient(to bottom, rgba(227, 243, 5, 0.968), rgb(7, 190, 19));
  border-radius: 10px;
  border-style: double;
  box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;

}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  background-color: rgb(207, 127, 7);
  font-family: 'Great Vibes';
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: rgba(207, 127, 7, 0.9);
  transform: scale(1.05); 
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.submit {
  width: 40%;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 25px; 
  cursor: pointer;
  box-shadow: #2b502d;
}


#userlist {
  list-style-type: none;
  padding: 0;
}

#userlist li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form select,
form button {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 8px;
  width: 60%; 
  padding: 5px;
  font-size: 15px;
  color: #2b502d;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to bottom, rgb(238, 240, 214), rgb(132, 127, 39));
}

/* Icon styles */
.icon-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-selection input {
  display: none; 
}


.person {
  display: flex;
  font-size: 45px;
  margin: 8px;
  justify-content: space-around;
  align-items: center;
  color: #2e7130;
}

.user-icon {
  margin: 5px;
  border-radius: 50%; 
  background: linear-gradient(to bottom, rgb(238, 240, 214), rgb(238, 227, 19));
  padding: 5px; 
  border: 2px solid transparent; /* Borde inicial */
  transition: transform 0.3s ease, border-color 0.3s ease; /* Transición suave */
}


.user-icon:hover {
  transform: scale(1.1); 
  border-color: #4caf50; 
}

input[type="radio"]:checked + .user-icon {
  border-color: #4caf50; 
   background: linear-gradient(to bottom, rgb(238, 240, 214), rgb(48, 238, 19));

}


.expense-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
  color: #2e7130;

}

.expense-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: #2e7130;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 10px;
  border-radius: 8px;
  background: linear-gradient(to bottom, rgba(227, 243, 5, 0.968), rgb(172, 174, 44));
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.balance-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}


.balance-row {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-weight: bold;
  color: #2e7130;
  flex-direction: column;
  align-content: stretch;
  align-items: center;  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background: linear-gradient(to bottom, rgba(227, 243, 5, 0.968), rgb(172, 174, 44));
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.settle-button {
  background-color: rgb(207, 127, 7);
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.settle-button:hover {
  background-color: rgba(207, 127, 7, 0.9);
}
